#submissionDiv{
    background-color: #E6E5E9;
    color: #16171F;
    border-radius:7px;
    padding:1em;
}
#submissionTitle{
    color: #0F52BA;
    font-size:1.5vw;
    font-weight: bold;
    margin-bottom:1vw;
}
#submissionDescription{
    font-size: 1.15vw;
    margin-bottom:1vw;
}
#submissionUserInfo{
    font-size:0.9vw;
}
@media only screen and (max-width: 1000px) {
    #submissionTitle{
        font-size:2.1vw;
    }
    #submissionDescription{
        font-size: 1.6vw;
    }
    #submissionUserInfo{
        font-size:1.3vw;
    }
}
@media only screen and (max-width: 675px) {
    #submissionTitle{
        font-size:2.8vw;
    }
    #submissionDescription{
        font-size: 2.2vw;
    }
    #submissionUserInfo{
        font-size:1.8vw;
    }
}
@media only screen and (min-width: 1920px) {
    #submissionTitle{
        font-size:29px;
    }
    #submissionDescription{
        font-size: 22px;
    }
    #submissionUserInfo{
        font-size:18px;
    }
}